:root {
    --green: #55897b;
    --cream: #e6dab6;
    --bronze: #cf7d34;
    --brown: #733f20;
}

body {
    background: whitesmoke;
}

.header {
    color: var(--cream);
    background-color: var(--green);
    justify-content: center;
}

.title {
    border: 2px ridge var(--bronze);
    text-align: center;
    text-decoration: underline 2px;
}

.nav {
    border: 2px ridge var(--bronze);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
    margin: 0px;
    padding: 5px;


}







/* body {
    background-color: #66ddf1
        }

.title {
    display: flex;
    text-align: Left;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 3em;
    text-decoration: underline;
    color: white;
}

nav {
    display: inline-block;
    justify-content: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    flex-direction: column;
}

nav:hover {
    color: white;
    background-color: pink;

} */