body {
    background-color: #66ddf1
        /* }

.title {
    display: flex;
    text-align: Left;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 3em;
    text-decoration: underline;
    color: white;
}

nav {
    display: inline-block;
    justify-content: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    flex-direction: column;
}

nav:hover {
    color: white;
    background-color: pink; */

}