/* Banner Section */

.banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.banner-left {
    background-image: url(../images/flowers-1.jpg);
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .banner-right {
    background-color: var(--lavendar);
}

.banner .banner-content {
    position: absolute;
    background-color: white;
    padding: 32px;
    width: 35%;
    top: 30%;
    left: 65%;

}