/* Blog Section */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 60px;
}

.blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.blog .thumbnail {
    object-fit: contain;
}

.blog-post {
    background-color: var(--primary);
    margin: 24px 0;
    padding: 16px;
}

.blog-content {
    margin-top: 24px;
}

.pagination {
    display: inline-block;
}

.pagination .active {
    border: 1px solid var(--hotpink);
    background-color: var(--primary);
}

.pagination a {
    color: var(--lavendar);
    float: left;
    padding: 2px 4px;
    text-decoration: none;
    border: 0;
}