:root {
    --primary: #B8E8D1;
    --secondary: #D7F2E7;
    --pink: #EC5798;
    --hotpink: #DF4789;
    --lavendar: #8e58e4;

}

/* Media Queries Below */
@media screen and (max-width: 599px){
/* NAVIGATION */

nav{
    justify-content: space-evenly;
    width: 100%;
}

/* banner */

.banner{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
}


.banner .banner-right{
    display: none;
    width: 100%;
}


/* blog */

main{
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr;
    
}

.blog{
    grid-template-columns: 1fr;
}

/* Aside */
 
aside{
    display: none;
}

}

@media screen and (min-width: 600px) and (max-width:900px){
    /* navigation */

nav{
    justify-content:space-around;
    width: 100%;
}

/* banner */

.banner{
    grid-template-columns: 3fr 1fr;
}
.banner .banner-right{
    width: 100%;
}
.banner .banner-content{
    padding: 22px;
        
}

/* blog */

main {
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
}
    
.blog {
    grid-template-columns: 1fr;
} 
}