@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap');

:root {
    --primary: #B8E8D1;
    --secondary: #D7F2E7;
    --pink: #EC5798;
    --hotpink: #DF4789;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*::before::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: black;
    margin: 1.6rem 0;
}

p {
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color: black;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}


span {
    color: grey;
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    margin: 1.6rem 0;
    color: gray;
    font-size: 1.6rem;
    border-bottom: 2px dotted var(--pink);
}

.site-container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 16px 0;
}

/* Navigation Section Below */

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu a {
    border-bottom: none;
    color: var(--pink);
    font-weight: 700;
    margin-left: 24px;
}

/* .mobile-menu {
    display: none;
} */

/* Banner Section */

.banner {
    display: grid;
    grid-template-columns: 2fr 1 fr;
}


/* Media Queries Below */
@media (max-width: 768px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: 1.5px;
    }

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
    }

    h4 {
        font-size: 1.6rem;
    }

    /* .mobile-menu {
        display: block;
        font-size: 24px;
    } */

    .menu {
        position: absolute;
        width: 100%;
        top: 100%;
        z-index: 99;
        /* display: none; */
    }

    .menu a {
        padding: 32px 0;
        font-size: 18px;
    }
}

/* @media(max-width:320px) h1 {}

@media(min-width:321px) and (max-width:901px) h1 {}

@media(min-width:902px) h1 {} */