@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap');
@import "navigation.css";
@import "banner.css";
@import "blog.css";
@import "aside.css";
@import "footer.css";
@import "media.css";

:root {
    --primary: #B8E8D1;
    --secondary: #D7F2E7;
    --pink: #EC5798;
    --hotpink: #DF4789;
    --lavendar: #8e58e4;

}

html {
    font-size: 62.5%;
}

*::before::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: black;
    margin: 1.6rem 0;
}

p {
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color: black;
    line-height: 1.5;
}

.blog-paragraph {
    color: var(--hotpink);
}

h1 {
    font-size: 4rem;
}


span {
    color: grey;
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    margin: 1.6rem 0;
    color: gray;
    font-size: 1.6rem;
    border-bottom: 2px dotted var(--pink);
}

.site-container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 16px 0;
}

button {
    color: white;
    background-color: var(--pink);
    border-radius: 10%;
    border: 2px solid var(--lavendar);
    opacity: 75%;
}


