@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap');

:root {
    --primary: #B8E8D1;
    --secondary: #D7F2E7;
    --pink: #EC5798;
    --hotpink: #DF4789;
    --lavendar: #8e58e4;

}

html {
    font-size: 62.5%;
}

*::before::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: black;
    margin: 1.6rem 0;
}

p {
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color: black;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}


span {
    color: grey;
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    margin: 1.6rem 0;
    color: gray;
    font-size: 1.6rem;
    border-bottom: 2px dotted var(--pink);
}

.site-container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 16px 0;
}

/* Navigation Section Below */

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu a {
    border-bottom: none;
    color: var(--pink);
    font-weight: 700;
    margin-left: 24px;
}

/* Banner Section */

.banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.banner-left {
    background-image: url(../images/flowers-1.jpg);
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .banner-right {
    background-color: var(--lavendar);
}

.banner .banner-content {
    position: absolute;
    background-color: white;
    padding: 32px;
    width: 35%;
    top: 30%;
    left: 65%;

}

/* Blog Section */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    gap: 60px;
}

.blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.blog .thumbnail {
    object-fit: contain;
}

.blog-post {
    background-color: var(--primary);
    margin: 24px 0;
    padding: 16px;
}

.blog-content {
    margin-top: 24px;
}

.pagination {
    display: inline-block;
}

.pagination .active {
    border: 1px solid var(--hotpink);
    background-color: var(--primary);
}

.pagination a {
    color: var(--lavendar);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 0;
}

/* Aside Section */
.wrapper {
    display: flex;
    align-items: center;
}

.wrapper .thumb {
    flex: 1;
}

.wrapper .content {
    flex: 2;
    padding: 16px;
}

.wrapper span,
p,
a {
    font-size: 1.4rem;
    margin-top: 0;
}

h3 {
    font-size: 3rem;
}


/* footer */

footer {
    background-color: var(--primary);
    margin-top: 50px;
    padding: 50px 0;
}

footer p {
    color: var(--hotpink);
}

.footer-left {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social-icons i {
    color: var(--hotpink);
    font-size: 18px;
    border: 1px solid var(--hotpink);
    border-radius: 50%;
    padding: 8px;
}



/* Media Queries Below */
@media (max-width: 768px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: 1.5px;
    }

    h3 {
        font-size: 2rem;
        letter-spacing: 1.5px;
    }

    h4 {
        font-size: 1.6rem;
    }

    .banner {
        grid-template-columns: 1fr;
    }

    .banner .banner-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: white;

    }


    .menu {
        position: absolute;
        width: 100%;
        top: 100%;
        z-index: 99;
        /* display: none; */
    }

    .menu a {
        padding: 32px 0;
        font-size: 18px;
    }

    .banner {
        padding: 50px;
    }

    .banner .banner-content {
        left: 45%;
    }

    span {
        display: flex;
        justify-content: flex-start;
        text-align: left;

    }

    .blog {
        grid-template-columns: 1fr;
    }

    .site-container {
        width: 100%;
        padding: 0 24px;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .wrapper {
        margin: 24px 0;
    }

    .footer-left {
        grid-template-columns: 1fr;
        justify-items: first baseline;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icons i {
        color: var(--hotpink);
        font-size: 10px;
        border: 1px solid var(--hotpink);
        border-radius: 50%;
        padding: 8px;
    }

    .pagination {
        display: inline-block;
    }

    .pagination .active {
        border: 1px solid var(--hotpink);
        background-color: var(--primary);
    }

    .pagination a {
        color: var(--lavendar);
        float: left;
        padding: 2px 4px;
        text-decoration: none;
        border: 0;
    }